<h1> active. by ambreea | abbosbek </h1>

<% if flash[:notice] %>
Successful: <%= notice %>
<%end%>

<h3> Edit a WorkoutLog: </h3>
<%=form_for @workout_log do |f|%>
<p>Select User: <%=f.select :user_id, User.all.map {|user| [user.name, user.id]}%></p>
<p>Select Workout: <%=f.select :workout_id, Workout.all.map {|workout| [workout.workout_type, workout.id]}%></p>
<p>Date: <%= f.date_field :date%></p>
<p>Duration (in minutes): <%= f.text_field :duration%></p>
<p>Calories Burned: <%= f.text_field :calories_burned%></p>

<p><%= f.submit "Update WorkoutLog"%></p>
<%end%>

<%= button_to "Delete WorkoutLog", @workout_log, method: :delete%>
