<h1> active. by ambreea | abbosbek </h1>

<% if flash[:notice] %>
Successful: <%= notice %>
<%end%>

<h3><%=@workout_log.user.name%>'s WorkoutLog Details</h3>


<li>User: <%=@workout_log.user.name%></li>
<li>Activity: <%=@workout_log.workout.workout_type%></li>
<li>Date: <%=@workout_log.date%></li>
<li>Duration: <%=@workout_log.duration%> minutes</li>
<li>Calories Burned: <%=@workout_log.calories_burned%> calories</li>

<p><%= button_to "Edit WorkoutLog", {controller: "workout_logs", action: "edit"}, method: :get %></p>
