<h1> active. by ambreea | abbosbek </h1>

<% if flash[:notice] %>
Successful: <%= notice %>
<%end%>

<h2>Hi, <%=@user.name%>. View Your Profile:</h2>
<%if @user.img_url%>
<img src="<%=@user.img_url%>" alt="Profile Image" width="300" height="300">
<%end%>

<h3>Account Details:</h3>
<li>Name: <%=@user.name%></li>
<li>Username: <%=@user.username%></li>
<li>Password: <%=@user.password%></li>

<p><%= button_to "Edit Profile", {action: "edit"}, method: :get %></p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Logout'>
<% end %>

<br>
<hr>
<br>

<h3>Accomplishments:</h3>
<li><%=@user.workout_accomplishment%></li><br>
<li><%=@user.recovery_accomplishment%></li>

<br>
<hr>
<br>

<h3>Assessments:</h3>
<%@user.assessments.map do |assessment| %>
<li><%= link_to assessment.health_goal, assessment%></li>
<%end%>

<p><%= button_to "New Assessment", {controller: "assessments", action: "new"}, method: :get %></p>
<br>
<hr>
<br>


<h3>Workout Logs:</h3>
<%@user.workout_logs.map do |workout_log| %>
<li><%=workout_log.workout.workout_type%> on <%= link_to workout_log.date, workout_log%></li>
<%end%>

<p><%= button_to "New Workout Log", {controller: "workout_logs", action: "new"}, method: :get %></p>


<br>
<hr>
<br>

<h3>Recovery Logs:</h3>
<%@user.recovery_logs.map do |recovery_log| %>
<li><%=recovery_log.recovery.recovery_type%> on <%= link_to recovery_log.date, recovery_log%></li>
<%end%>

<p><%= button_to "New Recovery Log", {controller: "recovery_logs", action: "new"}, method: :get %></p>

<br>
<hr>
<br>
<h3>Other Options:</h3>
<p><%= button_to "Workout Index", {controller: "workouts", action: "index"}, method: :get %></p>
<p><%= button_to "Recovery Index", {controller: "recoveries", action: "index"}, method: :get %></p>
