<!----------start styling---------->
<!DOCTYPE html>
<html>
<!----------start head---------->
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1,h2{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
  min-height: 100%;
  background-position: left;
  background-size: cover;}
img {border-radius: 50%;}
hr {height:1px; border:none; color:#000; background-color:#000; width:60%; text-align:center; margin: 0 auto;}
</style>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

</head>
<!----------end head---------->

<!----------start body---------->
<body>
  <br>
  <br>
  <br>

  <%# header bar%>
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-card">
    <a href="http://localhost:3000" class="w3-bar-item w3-button"><b>ACTIVE. </b>by ambreea | abbosbek</a>
  </div>
</div>

  <%# navigation bar%>
<div class="w3-bottom w3-hide-small">
  <div class="w3-bar w3-wide w3-gray w3-center w3-padding w3-opacity-min w3-hover-opacity-off">
    <a href="/assessments/new" style="width:20%" class="w3-bar-item w3-button">New Assessment</a>
    <a href="/workout_logs/new" style="width:20%" class="w3-bar-item w3-button">New WorkoutLog</a>
    <a href="/recovery_logs/new" style="width:20%" class="w3-bar-item w3-button">New RecoveryLog</a>
    <a href="/workouts" style="width:20%" class="w3-bar-item w3-button">Workout Index</a>
    <a href="/recoveries" style="width:20%" class="w3-bar-item w3-button">Recovery Index</a>
  </div>
</div>

<%= yield %>

<div class="w2-display-left w3-wide w3-text-black w3-center">
<!----------end styling---------->

<!----------start data---------->
<% if flash[:notice] %>
Successful: <%= notice %>
<%end%>

  <br>
  <br>
  <br>
  <br>
  <br>

<h2><%=@recovery_log.user.name%>'s RecoveryLog Details</h2>


<p>Activity: <%=@recovery_log.recovery.recovery_type%></p>
<p>Date: <%=@recovery_log.date%></p>
<p>Duration: <%=@recovery_log.duration%> minutes</p>
<p>Recovery Points: <%=@recovery_log.recovery_points%></p>
<p><i> scroll below for more information</i></p>
<p><%= button_to "Edit RecoveryLog", {controller: "recovery_logs", action: "edit"}, method: :get %></p>
<p><%@user = @recovery_log.user%><%= button_to "User Profile", @user, method: :get %></p>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<br>
<hr>
<br>
<h2>Favorite Recovery</h2>
<p>Your favorite recovery to enter into a RecoveryLog is <b><%=@recovery_log.user.favorite_recovery%></b></p>
<br>
<h2>RecoveryLog Totals</h2>
<p>Total Recovery Logs: You've entered a total of <b><%=@recovery_log.user.total_recovery_count%></b> RecoveryLogs</p>
<p>Total Recovery Points: You've accumulated a total of <b><%=@recovery_log.user.total_recovery_points%></b> Recovery Points</p>

  <br>
  <br>
  <br>

</div>
<!----------end data---------->
</body>
<!----------end body---------->
</html>